/* Add CSS soon */
.grid {
  display: flex;
  border: solid blue;
  width: 400px;
  height: 400px;
}

.row {
  display: block;
  border: solid red;
  width: 16px;
  height: 16px;
}

.column {
  display: block;
  border: solid red;
  width: 16px;
  height: 16px;
}

body {
  /**/
}
