.header {
  display: flex;
  /* border: solid red; */
  align-items: center;
  justify-content: space-around;
  width: 700px;
}

#restart {
  width: 60px;
  height: 60px;
}

.grid {
  display: flex;
  /* border: solid blue; */
  width: 400px;
  height: 400px;
}

.row {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
}
.column {
  border: black 1px solid;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  margin-top: 0;
  display: block;
  float: left;
}

/* Effect of the column once the user hovers over a div*/
.column-hover {
  background: pink;
  border: black 1px solid;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  margin-top: 0;
  display: block;
  float: left;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
