/* Add CSS soon */
.grid {
  display: flex;
  border: solid blue;
  width: 400px;
  height: 400px;
}

.row {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
}
.column {
  border: black 1px solid;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  margin-top: 0;
  display: inline-block;
  float: left;
}

body {
  /**/
}
